/* - ALL - */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#header {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../img/background.jpg);
    height: 50vh;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
}

#header .headline {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#header .headline h1 {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}
#header .headline h2 {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

#nav {
    position: relative;
    background-color: black;
    width:100%;
    height: 5vh;
}


#nav ul {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    width: 45%;
}

#nav li {
    float:left;
    width: 25.33%;
    margin: 0 4%;
    text-align: center;
}

#nav a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    
}

#posts {
    position: absolute;
    height: 100vh;
    background-color: rgb(244,244,244);
    width: 100%;
}

#posts .row {
    
    margin: 5vh auto;
    width: 85%;
    overflow: auto;
}

#posts .post {
    width: 27.33%;
    background-color: white;
    float: left;
    margin: 0 3%;
}

#posts .link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#posts img {
    height: auto;
    max-width: 100%;
    display: block;
    border: 0;
    
}

#posts .desc {
    padding: 7.5% 7.5%;
    margin: 0 auto;
}

#posts h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

#posts p {
    margin-bottom: 20px;
}

#posts h4 {
    text-align: right;
    font-weight: 300;
    font-size: 15px;
}